MINIO_ROOT_USER=generated-root-user
MINIO_ROOT_PASSWORD=strongpassword
S3_BUCKET_NAME=storage
S3_ACCESS_KEY_ID=generated-access-key-id
S3_SECRET_ACCESS_KEY=generated-secret-access-key
S3_CORS_ORIGINS=http://localhost:3000,http://localhost:5000